@import '../../../scss/mixins.scss';

$padding: size(2.5);
$field-border: 1px solid #e1e8ed;

.GenericField {
  border: $field-border;
  border-radius: size(0.5);
  display: flex;
  align-items: center;
  width: 100%;

  > *:first-child {
    border-right: $field-border;
    > * {
      padding: $padding;
    }
  }

  > *:last-child {
    border-left: $field-border;
    > * {
      padding: $padding;
    }
  }

  .middle {
    flex-grow: 1;
    border: none;
    padding: size(1);
  }
}

.label {
  font-weight: var(--fw-semibold);
}
