@import '../../../scss/mixins.scss';

#root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
}

header {
  background: var(--background-color-light);
  padding: size(3, 5);
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
