@import '../../scss/mixins.scss';

.goalSelectorGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: size(1);

  @include breakpoint(sm) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
