@import './scss/mixins.scss';

html,
body {
  --background-color-light: #ffffff;
  --background-color-main: #f4f8fa;
  --fw-regular: 400;
  --fw-semibold: 500;
  --fw-bold: 600;
  --fs-base: 16px;
  --brand-color: #1b31a8;

  background: var(--background-color-main);
  font-family: 'Work Sans', sans-serif;
  font-weight: var(--fw-regular);
  font-size: var(--fw-base);
  height: 100%;
  padding: size(0);
  margin: size(0);
}
