@import './scss/mixins.scss';

html,
body {
  --background-color-light: #ffffff;
  --background-color-main: #f4f8fa;
  --fw-regular: 400;
  --fw-semibold: 500;
  --fw-bold: 600;
  --fs-base: 16px;
  --brand-color: #1b31a8;
  --text-secondary: #657786;
  --card-padding: 24px;

  @include breakpoint(sm) {
    --card-padding: 40px;
  }

  background: var(--background-color-main);
  font-family: 'Work Sans', sans-serif;
  font-weight: var(--fw-regular);
  font-size: var(--fw-base);
  height: 100%;
  padding: size(0);
  margin: size(0);
}

h1 {
  font-weight: var(--fw-bold);
  font-size: 1.5em;

  @include breakpoint(sm) {
    font-size: 2em;
  }
}

h2 {
  color: var(--brand-color);
  font-style: normal;
  font-weight: var(--fw-regular);
  line-height: 32px;
  letter-spacing: -0.20000000298023224px;
  font-size: 1.12em;

  @include breakpoint(sm) {
    font-size: 1.5em;
  }
}

@import './scss/common.scss';
