@import '../../scss/mixins.scss';

.SavingGoalSimulator {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    color: var(--brand-color);
    text-align: center;
    span {
      font-weight: var(--fw-bold);
    }
  }

  .contentCard {
    display: flex;
    flex-direction: column;
    min-width: calc(100vw - var(--card-padding) * 2);

    @include breakpoint(sm) {
      min-width: 560px;
    }

    > img:first-child {
      align-self: flex-start;
    }

    h1 {
      margin: size(0);
    }

    .fieldsContainer {
      margin-top: size(4);
      display: flex;
      flex-direction: column;
      align-content: stretch;
      > *:first-child {
        margin-bottom: size(2);
      }

      @include breakpoint(sm) {
        margin-top: size(5);
        flex-direction: row;

        > *:first-child {
          margin-right: size(2);
          margin-bottom: size(0);
        }
      }
    }
  }
}
