@import '../../../scss/mixins.scss';

.DateField {
  button {
    border: none;
    background: #e1e8ed;

    img {
      transition: opacity 0.3s ease;
    }

    @include breakpoint(sm) {
      transition: background-color 0.3s ease;
      cursor: pointer;

      &:enabled {
        &:hover {
          background: #c8d6e0;
        }
      }
    }

    &:disabled {
      cursor: not-allowed;
      img {
        opacity: 0.2;
      }
    }

    &:focus {
      outline: none;
    }
    img.inverted {
      transform: rotate(180deg);
    }
  }

  .middle {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .month {
  }
}
