@import './mixins.scss';

.caption {
  line-height: 1.25em;
  margin: size(0);
  color: var(--text-secondary);
  font-size: 0.8em;

  @include breakpoint(sm) {
    font-size: 1em;
  }
}

.fieldValue {
  font-size: 1.25em;
  font-weight: var(--fw-bold);
}
