@function size($multipliers...) {
  $result: '';
  @each $multiplier in $multipliers {
    $result: $result + ' ' + ($multiplier * 8px);
  }
  @return unquote($result);
}

@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $class == sm {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $class == md {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $class == lg {
    @media (min-width: 1200px) {
      @content;
    }
  } @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

@mixin button {
  background: var(--brand-color);
  border: none;
  color: white;
  text-decoration: none;
  text-align: center;

  margin-top: size(4.5);
  padding: size(2);
  font-size: 1.12em;
  font-weight: var(--fw-bold);
  border-radius: size(10);
  align-self: center;
  width: 100%;

  @include breakpoint(sm) {
    margin-top: size(3.7);
    width: 80%;
  }
}
